.footer-container {
    padding: 1rem;
    background-color: #222;
    color: #f8f9fa;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  .footer-content {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 300;
  }
  
  /* Responsive design */
  @media (max-width: 768px) {
    .footer-content {
      font-size: 0.9rem;
    }
  }
  